<article>
  <section class="cryptoLijst">
    <%for (let i = 0; i < nieuweCrypto.length; i++) {%>
    <ul>
      <li><%= nieuweCrypto[i].base_asset %></li>
      <li><%= nieuweCrypto[i].price %></li>
    </ul>
    <%}%>
  </section>

  <section class="cryptoGrafiek">
    <svg width="1000" height="1240">
      <g id="wrapper" transform="translate(40, 20)"></g>
    </svg>
  </section>
</article>

<script>


      let data = [
          <%for (let i = 0; i < nieuweCrypto.length; i++) {%>
      {
        Naam: "<%=  nieuweCrypto[i].base_asset %>",
        Waarde: <%=  nieuweCrypto[i].price %>
      },
         <%}%>
    ]

        console.log(data)


  var bandScale = d3.scaleBand()
  	.domain([
       <%for (let i = 0; i < nieuweCrypto.length; i++) {%>
      '<%=  nieuweCrypto[i].base_asset %>',
      <%}%>

    ]
    )
  	.range([0, 900])
  	.paddingInner(0.8);

  d3.select('#wrapper')
  	.selectAll('rect')
  	.data(data)
  	.join('rect')
  	.attr('y', function(d) {
  		return bandScale(d.Naam);
  	})
  	.attr('height', bandScale.bandwidth())
  	.attr('width', function(d) {
  		return d.Waarde;
  	});
</script>
